* {
    padding: 0;
    margin: 20px;
    color: inherit;
    animation: 2s fadeIn;
}

#resume {
    font-size: 40px;
    font-family: 'Cairo', sans-serif;
    margin: 150px auto;
}

button {
    padding: 10px;
    border-radius: 10px;
    background: #f2f2f2;
    font-family: 'Cairo', sans-serif;
    border-style: none;
    cursor: pointer;
}

button:hover {
    background: #bdbdbd;
}

#header {
    margin: 50px auto;
    width: 100%;
}

#header>p {
    font-size: 2em;
    font-weight: 500;
    font-family: 'Cairo', sans-serif;
}

#header>h1 {
    font-size: 7em;
    font-family: 'Cairo', sans-serif;
    line-height: 120%;
    margin-bottom: 18vmin;
    animation: 1.5s color normal;
    animation-delay: 1s;
}

#image {
    background-image: url(./img/me.JPG);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 200vmin;
    width: 100%;
    box-sizing: border-box;
    margin: 16vmin auto;
}

#about {
    width: 100%;
}

#about>p {
    font-size: 1.6em;
    font-family: 'Cairo', sans-serif;
    margin-bottom: 4vmin;
}

#about>p>span {
    font-style: italic;
    font-weight: 300;
}

#about>p.largeText {
    font-size: 3.1em;
    font-weight: 500;
    font-family: 'Cairo', sans-serif;
    margin-bottom: 4vmin;
}

#contactMe {
    width: 100%;
}

#contactMe>.contact>a {
    font-size: 1.3em;
    font-family: 'Cairo', sans-serif;
    margin-bottom: 4vmin;
}

@keyframes anime {
    0% {
        transform: translateY(0px);
    }

    50% {
        transform: translateY(10px);
    }

    100% {
        transform: translateY(0px);
    }
}

@keyframes color {
    0% {
        color: #f2f2f2;
    }

    25% {
        color: #bdbdbd;
    }

    50% {
        color: #808080;
    }

    75% {
        color: #494949;
    }

    100% {
        color: #000000;
    }
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@media only screen and (max-width: 767px) {
    * {
        margin: 10px;
        animation: 1s fadeIn;
    }

    button {
        padding: 10px;
        border-radius: 10px;
        background: #f2f2f2;
        border-style: none;
        cursor: pointer;
    }

    button:hover {
        background: #bdbdbd;
    }

    #image {
        height: 140vmin;
        background-position: center;
        box-sizing: border-box;
        background-image: url(./img/me.JPG);
    }

    #header>h1 {
        font-size: 3.5em;
        animation: 1.5s color normal;
        animation-delay: 1s;
    }

    p.largeText {
        font-size: 2.4em;
        margin-bottom: 12vmin;
    }

    #header {
        width: 100%;
    }

    #about {
        width: 100%;
    }

    #about>p>span {
        font-style: italic;
        font-weight: 300;
    }

    #contactMe {
        width: 100%;
    }
}